name: Databricks CICD

on:
 push:
  branches: [main]

jobs:
 deploy:
  runs-on: ubuntu-latest

  steps:
   - uses: actions/checkout@v3

   - run: pip install databricks-cli

   - run: |
      databricks configure --token <<EOF
      ${{ secrets.DATABRICKS_HOST }}
      ${{ secrets.DATABRICKS_TOKEN }}
      EOF

   - run: databricks workspace import_dir src /Shared/medallion/src --overwrite

   - run: databricks jobs create --json-file jobs/medallion_job.json