name: Terraform Databricks

on:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve
        env:
          TF_VAR_client_id: ${{ secrets.AZ_CLIENT_ID }}
          TF_VAR_client_secret: ${{ secrets.AZ_CLIENT_SECRET }}
          TF_VAR_tenant_id: ${{ secrets.AZ_TENANT_ID }}
          TF_VAR_subscription_id: ${{ secrets.AZ_SUBSCRIPTION_ID }}